<style>
  .space{
    display: flex;
    align-items: center;
  }

  .image{
    width: 40%;
    border-style: none;
  }

  .paper{
    border-style: none;
  }
</style>

<div class="space">
  <div class="image">
    <img src="https://raw.githubusercontent.com/opi-lab/opi-lab.github.io/master/images/3d_spt.png">
  </div>
  <div class="paper">
    <p>
      <b>Robust automated reading of the skin prick test via 3D imaging and parametric surface fitting.</b> <br>Jesus Pineda, Raúl Vargas, Lenny A. Romero, Javier Marrugo, Jaime Meneses, and Andres G. Marrugo. <br>PLOS ONE.
    </p>
  </div>
</div>

<div class="space">
  <div class="image">
    <img src="https://raw.githubusercontent.com/opi-lab/opi-lab.github.io/master/images/3d_face.png">
  </div>
  <div class="paper">
    <p>
      <b>A hybrid calibration procedure for fringe projection profilometry based on stereo-vision and polynomial fitting.</b> <br>Raúl Vargas, Andres G. Marrugo, Song Zhang, and Lenny A. Romero.<br> Applied Optics.
    </p>
  </div>
</div>