<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">

<style>
    .social-media{
        text-align: center;
        margin-top: 2%;
        margin-bottom: 8%;
        font-size: 150%;
    }

    .facebook{
        background: white;
        color: black;
    }

    .twitter{
        background: white;
        color: black;
    }

    .youtube{
        background: white;
        color: black;
    }

    .instagram{
        background: white;
        color: black;
    }
</style>


<div class="social-media">
    <a href="https://www.facebook.com/utboficial" class="facebook"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/utboficial" class="twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://twitter.com/utboficial" class="youtube"><i class="fab fa-youtube"></i></a>
    <a href="https://twitter.com/utboficial" class="instagram"><i class="fab fa-instagram"></i></a>
</div>